.container {
  border: 1px solid black;
  width: 350px;
  height: auto;
  padding: 10px;
}

.container ul {
  list-style: none;
  padding: 0;
}

.container li {
  border: 1px solid grey;
  padding: 3px;
  background: lightgray;
  margin: 5px 0;
}
